<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Home</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://cdn.pixabay.com/photo/2016/12/31/21/22/discus-fish-1943755_960_720.jpg" alt="" class="img-fluid">
        </div>
    
    <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam sed consequatur veniam fugiat quidem itaque accusantium distinctio, hic deserunt, quia beatae provident ex pariatur aliquam ad a. Maxime atque facere necessitatibus molestiae consequatur. Sunt vitae repudiandae repellendus vel provident? Debitis animi expedita nisi nam. Blanditiis, quaerat hic assumenda qui sunt possimus consequuntur nobis iure voluptas adipisci expedita beatae accusamus, ad fugiat magni dicta! Dolorum odit laboriosam maxime ullam repudiandae cumque. Itaque accusamus cupiditate placeat? Quas assumenda debitis sint odit, tempore quaerat. Provident eum voluptates maiores sed, porro quae et cumque distinctio ratione molestias vel ea nisi quas magni praesentium deleniti incidunt esse fugiat modi inventore officiis. Ab, minima iste magnam a incidunt dignissimos totam iure laborum! Minima adipisci fugiat dolore quia ipsum, laboriosam praesentium possimus?
        </p>
    </div> 
    </div>
</section>
